<div class="edit">
  <legend>{{ room.id == null ? 'Add' : 'Edit'}}</legend>
  <hr>

  <div *ngIf="message">{{message}}</div>

  <div class="card card-body bg-warning mb-3"></div>
  <form autocomplete="off" readonly="false" novalidate [formGroup]="roomForm">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input id="name" type="text" class="form-control" placeholder="Name"
             formControlName="roomName" required>
      <div class="form-text text-danger"
           *ngIf="roomForm.controls['roomName'].invalid &&
           roomForm.controls['roomName'].touched">Room name cannot be blank</div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input id="location" type="text" class="form-control" placeholder="Location"
             formControlName="location" required>
      <div class="form-text text-danger"
           *ngIf="roomForm.controls['location'].invalid &&
           roomForm.controls['location'].touched">Location cannot be blank</div>
    </div>

<!--    <ng-template ngFor let-e [ngForOf]="layouts">-->
<!--      <li>{{ e }}{{ layoutKey(e) }} {{ layoutValue(e) }}</li>-->
    <span *ngFor="let layout of layouts">
      <div class="mb-3">
        <label for="layout{{ layout }}" class="form-label">{{ layoutEnum[layout] }}</label>

        <input id="layout{{ layout }}" type="number" class="form-control" placeholder="{{ layoutEnum[layout] }}"
               formControlName="layout{{ layout }}" >
      </div>
    </span>
<!--    </ng-template>-->

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-outline-secondary me-md-2"
              (click)="onCancel()">Cancel</button>
      <button type="button" class="btn btn-outline-success me-md-2"
              (click)="onSubmit()" [disabled]="roomForm.invalid">Save</button>
    </div>
  </form>
</div>
