<h2>Rooms Admin</h2>
<div class="pb-2">
  <button class="btn btn-sm btn-outline-success" type="button">
    <i class="fa fa-plus"> </i> Add Room
  </button>
</div>
<div class="row">
  <div class="col-8">
    <table class="table table-hover table-bordered">
      <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{ room.id }}</td>
        <td>{{ room.name }}</td>
        <td>{{ room.location }}</td>
        <td class="text-center">
          <button class="btn btn-sm btn-outline-warning" type="button"
                  (click)="selectRoom(room.id)">View</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <app-room-detail *ngIf="selectedRoom" [room]="selectedRoom"></app-room-detail>
      </div>
    </div>
  </div>
</div>
