<h1>{{pageName}}</h1>
<p>This is the FIRST page in the site</p>

<button (click)="onButtonClick()">Greet me</button>

<p>There are {{numberOfBooks()}} books in the database.</p>

<p>
  Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent libero turpis, aliquam
  quis consequat ac, volutpat et arcu. Nullam varius, ligula eu venenatis dignissim, lectus ligula
  ullamcorper odio, in rhoncus nisi nisl congue sem. In hac habitasse platea dictumst. Donec sem
  est, rutrum ut libero nec, placerat vehicula neque. Nulla mollis dictum nunc, ut viverra ex. Nam
  ac lacus at quam rhoncus finibus. Praesent efficitur, ante eget eleifend scelerisque, neque erat
  malesuada neque, vel euismod dui leo a nisl. Donec a eleifend dui. Maecenas nec leo odio. In
  maximus convallis ligula eget sodales. Nullam a mi hendrerit, finibus dolor eu, pellentesque
  ligula. Proin ultricies vitae neque sit amet tempus. Sed a purus enim. Maecenas maximus placerat
  risus, at commodo libero consectetur sed. Nullam pulvinar lobortis augue in pulvinar. Aliquam
  erat volutpat. Vestibulum eget felis egestas, sollicitudin sem eu, venenatis metus. Nam ac eros
  vel sem suscipit facilisis in ut ligula. Nulla porta eros eu arcu efficitur molestie. Proin
  tristique eget quam quis ullamcorper.
</p>
