<div class="detail">
  <legend>Details</legend>
  <hr>
<!--  <form id="" method="" action="" autocomplete="off" readonly="true" novalidate>-->
<!--    -->
<!--  </form>-->
  <button class="btn btn-sm btn-outline-warning" (click)="editRoom()">Edit</button>
  <button class="btn btn-sm btn-outline-warning m-1" (click)="deleteRoom()">Delete</button>
  <div *ngIf="message">{{message}}</div>
  <div *ngIf="room">
    <br>
    {{ room.id }}
    <br>
    {{ room.name }}
    <br>
    {{ room.location }}
    <br>
    <table>
      <tr *ngFor="let layoutCap of room.capacities">
        <td>{{ layoutCap.layout }}</td>
        <td>{{ layoutCap.capacity }}</td>
      </tr>
    </table>
  </div>
</div>
