<h1>Page 3</h1>
<p>This is the THIRD page in the site</p>

<button (click)="deleteLastBook()">Delete a book</button>

<p>
  Donec quis nisi tellus. Nam hendrerit purus ligula, id bibendum metus pulvinar sed. Nulla eu
  neque lobortis, porta elit quis, luctus purus. Vestibulum et ultrices nulla. Curabitur
  sagittis, sem sed elementum aliquam, dui mauris interdum libero, ullamcorper convallis urna
  tortor ornare metus. Integer non nibh id diam accumsan tincidunt. Quisque sed felis aliquet,
  luctus dolor vitae, porta nibh. Vestibulum ac est mollis, sodales erat et, pharetra nibh.
</p>
<p>
  Maecenas porta diam in elit venenatis, sed bibendum orci feugiat. Suspendisse diam enim,
  dictum quis magna sed, aliquet porta turpis. Etiam scelerisque aliquam neque, vel iaculis nibh
  laoreet ac. Sed placerat, arcu eu feugiat ullamcorper, massa justo aliquet lorem, id imperdiet
  neque ipsum id diam. Vestibulum semper felis urna, sit amet volutpat est porttitor nec.
  Phasellus lacinia volutpat orci, id eleifend ipsum semper non.
</p>
<p>
  Integer pretium tellus non sapien euismod, et ultrices leo placerat. Suspendisse potenti.
  Aenean pulvinar pretium diam, lobortis pretium sapien congue quis. Fusce tempor, diam id
  commodo maximus, mi turpis rhoncus orci, ut blandit ipsum turpis congue dolor. Aenean
  lobortis, turpis nec dignissim pulvinar, sem massa bibendum lorem, ut scelerisque nibh odio
  sed odio. Sed sed nulla lectus. Donec vitae ipsum dolor. Donec eu gravida lectus. In tempor
  ultrices malesuada. Cras sodales in lacus et volutpat. Vivamus nibh ante, egestas vitae
  faucibus id, consectetur at augue. Pellentesque habitant morbi tristique senectus et netus
  et malesuada fames ac turpis egestas. Pellentesque quis velit non quam convallis molestie
  sit amet sit amet metus.
</p>
