<div class="edit">
  <legend>{{ user.id == null ? 'Add' : 'Edit'}}</legend>
  <hr>
  <div class="card card-body bg-warning mb-3" *ngIf="message">{{ message }}</div>

  <form autocomplete="off" readonly="false" novalidate #userForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input id="name" type="text" class="form-control" placeholder="Full Name"
             [(ngModel)]="formUser.name" name="name"
             (change)="checkIfNameIsValid()"
             required #nameField="ngModel">
      <div *ngIf="nameField.invalid && nameField.touched"
           class="form-text text-danger">Name is required</div>
      <div *ngIf="!nameIsValid && nameField.touched"
           class="form-text text-danger">Name cannot be blank</div>
    </div>
    <div *ngIf="user.id == null">
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" class="form-control" placeholder="Password"
               required #passwordField="ngModel"
               (change)="checkIfPasswordsAreValid()"
               [(ngModel)]="password" name="password" >
        <div [hidden]="passwordsAreValid || passwordField.pristine"
             id="password-help" class="form-text text-danger">Password is required</div>
      </div>
      <div class="mb-3">
        <label for="password2" class="form-label">Password2</label>
        <input id="password2" type="password2" class="form-control" placeholder="Password2"
               required #password2Field="ngModel"
               [(ngModel)]="password2"
               (change)="checkIfPasswordsAreValid()" name="password2">
        <div [hidden]="passwordsMatch || password2Field.pristine"
             id="password2-help" class="form-text text-danger">Passwords must match</div>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-outline-secondary me-md-2"
              (click)="onCancel()">Cancel</button>
      <button type="button" class="btn btn-outline-success me-md-2"
              (click)="onSubmit()"
              [disabled]="userForm.invalid ||
              !nameIsValid ||
              !passwordsAreValid ||
              !passwordsMatch">Save</button>
    </div>
  </form>
</div>
