<div class="view">
  <legend>View Details</legend>
  <hr>
  <button class="btn btn-sm btn-outline-warning m-1" (click)="editUser()">Edit</button>
  <button class="btn btn-sm btn-outline-warning m-1" (click)="deleteUser()">Delete</button>
  <button class="btn btn-sm btn-outline-warning m-1" (click)="resetPassword()">Reset Password</button>
  <!--  <form id="" method="" action="" autocomplete="off" readonly="true" novalidate>-->
  <!--    -->
  <!--  </form>-->
  <br>
  {{ user.id }}
  <br>
  {{ user.name }}
</div>
